<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 
    <body layout:fragment="body">
        <br>
        <br>

        <div class="container">

            <button id="mostrarFormulario" class="btn btn-primary" onclick="mostrarFormulario()">Mostrar Formulario</button>

            <div id="botones" class="row" style="display:none">
                <div class="btn-group">
                    <button class="btn btn-success col-md-6" id="btnExcel">Excel</button>
                    <button class="btn btn-primary col-md-6" id="btnTxt">TXT</button>
                </div>
            </div>

            <div id="formularioArchivo" style="display: none">
                <br>
                <form action="/CargaMasiva" method="post" enctype="multipart/form-data">
                    <input type="file" id="archivo" name="archivo" accept=".xlsx,.txt">
                    <button type="submit" class="btn btn-success" id="cargaMasiva">Subir Archivo</button>
                </form>
            </div>

        </div>


        <script>
            function mostrarFormulario() {
                document.getElementById("mostrarFormulario").style.display = "none";
                document.getElementById("botones").style.display = "block";
            }

            let tipoArchivo = "";

            document.getElementById("btnExcel").addEventListener("click", function () {
                tipoArchivo = "xlsx"; // Tipo de archivo que se espera
                document.getElementById("formularioArchivo").style.display = "block";
                document.getElementById("archivo").setAttribute("accept", ".xlsx"); // Solo archivos Excel

                // Cambiar el botón "Subir Archivo" a verde (btn-success)
                document.getElementById("cargaMasiva").classList.remove("btn-primary");
                document.getElementById("cargaMasiva").classList.add("btn-success");
            });

            document.getElementById("btnTxt").addEventListener("click", function () {
                tipoArchivo = "txt"; // Tipo de archivo que se espera
                document.getElementById("formularioArchivo").style.display = "block";
                document.getElementById("archivo").setAttribute("accept", ".txt"); // Solo archivos TXT

                // Cambiar el botón "Subir Archivo" a azul (btn-primary)
                document.getElementById("cargaMasiva").classList.remove("btn-success");
                document.getElementById("cargaMasiva").classList.add("btn-primary");
            });

            document.getElementById("archivo").addEventListener("change", function () {
                if (this.files.length > 0) {
                    var fileName = this.files[0].name;
                    var fileExtension = fileName.split('.').pop().toLowerCase();

                    if (fileExtension !== tipoArchivo) {
                        alert("Por favor, seleccione un archivo " + tipoArchivo.toUpperCase() + " válido.");
                        this.value = "";
                    }
                }
            });
        </script>


    </body>
</html>
